header{
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
.logo{
    width: 250px;
    margin-left: 5%;
}
.menu a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    padding-top: 50px;
    padding-left: 7px;
  }
.menu a:hover{
    color: #25a55f;
}
